<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        .quote-container {
            text-align: center;
            background-color: transparent;
            padding: 20px;
            border-radius: 10px;
            font-size: 12pt; /* Font size adjustment */
        }
        
        .quote {
            font-size: 12pt;
            color: grey;
            display: none; /* Hide all quotes initially */
        }

        /* CSS Trick to randomize display */
        .quote:nth-of-type(1) { order: 2; }
        .quote:nth-of-type(2) { order: 1; }
        .quote:nth-of-type(3) { order: 3; }
        .quote:nth-of-type(4) { order: 6; }
        .quote:nth-of-type(5) { order: 4; }
        .quote:nth-of-type(6) { order: 5; }
        
        .quote-container:hover .quote {
            display: none; /* Hide all quotes on hover */
        }
        
        .quote-container:hover .quote:nth-of-type(1) {
            display: block; /* Show the first quote on hover */
        }
    </style>
</head>
<body>

<a id="logo" class="internal-link" href="/"><img src="https://raw.githubusercontent.com/shinestrength/dg-test/dd1a94408e7114036b6781773d69eb9a5e5c3645/src/site/img/user/gallery/shinebirdlogosml.png" alt="Socials"></a>

<p align="center">
    <a href="https://www.instagram.com/shinestrength/"><i class="fa fa-instagram" style="font-size:24px"></i></a>
    <a href="https://x.com/shinestrength"><i class="fa fa-twitter" style="font-size:24px"></i></a>
</p>

<div class="quote-container">
    <p class="quote">powerful shins, excellent shin strength</p>
    <p class="quote">the toothians communicate via [makes tooth clacking sounds]</p>
    <p class="quote">is that bradley?</p>
    <p class="quote">this is another quote</p>
    <p class="quote">here's yet another quote</p>
    <p class="quote">one more for good measure</p>
</div>

</body>
</html>
