<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<a id="logo" class="internal-link" href="/"><img src="https://raw.githubusercontent.com/shinestrength/dg-test/e1d4dc276202d42e2733de3ca238b1e132f53e06/src/site/img/user/Non%20Stuff/flypigsmall.gif" alt="Socials"></a>
<ul id="topnav">
    <li><a href="https://www.instagram.com/shinestrength/"><i class="fa fa-instagram" style="font-size:36px"></i></a></li>
    <li><a href="https://x.com/shinestrength"><i class="fa fa-twitter" style="font-size:36px"></i></a></li>
</ul>
